@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap");
.tektur-body {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: black;
  background-image: url("images/epicspace.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f4f4f4;
}

#orders-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: px;
  margin: 0 auto;
  background-color: #cf34ca;
  border-radius: 8px;
  font-family: "Tektur", sans-serif;
  color: #4e1f8b;
}

.order {
  background-color: #a7cff0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order p {
  margin: 5px 0;
}

.order hr {
  margin: 10px 0;
  border: 1px solid #ddd;
}

.status-select {
  padding: 5px;
  border-radius: 5px;
}

.status-waiting {
  color: yellow;
  font-weight: bold;
}

.status-ready {
  color: blue;
  font-weight: bold;
}

.status-delivered {
  color: green;
  font-weight: bold;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #4caf50;
  transition: background-color 0.3s, transform 0.2s;
  font-family: "Tektur", sans-serif;
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
}

button:hover {
  background-color: #0056b3;
}

button.remove-order {
  background-color: #dc3545;
}

button.remove-order:hover {
  background-color: #c82333;
}

#search {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}
#sort-orders {
  background-color: #4caf50;
}
#sort-orders:hover {
  background-color: #3b823e;
}
#clear-orders {
  background-color: #dc3545;
}
#clear-orders:hover {
  background-color: #9f101e;
}
@media (max-width: 768px) {
  #orders-container {
    padding: 10px;
  }

  .order {
    padding: 10px;
  }

  button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }

  #search {
    width: 100%;
  }
}
